---
import { SITE, LINKS } from "../consts"
import Link from "./Link.astro"
import BoxHeading from "./BoxHeading.astro"
---

<header>
  <div class="container">
    <div class="landing-content">
      <BoxHeading elem="h1" text={SITE.title} />

      <p class="landing-tagline">
        Explore CSS Tips from basic to advanced that would help you easily build
        responsive layouts with CSS.
      </p>

      <span class="twitter-link"
        >Compiled by <Link newTab={true} href={LINKS.twitter.link}>
            {LINKS.twitter.username}
          </Link>
        </span>
    </div>
    <!-- <div class="landing-cover">
    <Image src={cover} alt="" />
  </div> -->
  </div>

  <style is:global lang="scss">
    header {
      position: relative;
      padding: 20px 0;

      &::before {
        content: "";
        position: absolute;
        background: var(--primary-color-dark);
        inset: 0px;
        z-index: -1;
        height: 60%;
        background-image: radial-gradient(
          var(--primary-color) 1px,
          var(--primary-color-dark) 1px
        );
        background-size: 10px 10px;
      }

      img {
      }

      .landing-content {
        padding: 20px 0;
      }

      h1 {
      }

      .landing-tagline {
        font-size: clamp(1.1rem, 7vw, 1.5rem);
        max-width: 700px;
        width: 100%;
        color: var(--text-color);
        padding: 20px;
        border: 1px solid color-mix(in srgb, var(--text-color), transparent 60%);
        margin-top: 10px;
      }

      .twitter-link {
        display: inline-block;
        padding: 20px;
        border: 1px solid color-mix(in srgb, var(--text-color), transparent 60%);
        margin-top: 10px;
        font-size: clamp(1rem, 7vw, 1.2rem);
        color: var(--text-color);

        a {
          display: inline-block;
          color: var(--text-color);
          padding: 5px 8px;
          border: 1px solid currentColor;
          color: var(--secondary-color);
          background-color: var(--primary-color-dark);
          transition:
            color 300ms,
            background-color 300ms;

          &:hover {
            color: #1a120b;
            background-color: var(--secondary-color);
          }
        }
      }
    }
  </style>
</header>
